/* Your Website Styles */


/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}*/

body{
  background: #BED8FF;
}


 .content{
   background-color: #FFE9BE;
   margin-bottom: 0;
  box-shadow: 0 5px 50px  #738CB2;
   padding:15px 30px 0 30px;
  box-sizing:border-box;
  	position: relative;
}

.header{
  background: #738CB2;
  color: #FFE9BE;
  height: 125px;
  line-height:125px;
  padding:0 30px;
  font-family: 'Petit Formal Script', cursive;
  position:relative;
  margin:0;
  font-size: 25px;
}

.snowflake{
  position:absolute;
  font-size:130px;
  left:10px;
  color: rgba(255, 233, 190, .3)
}

.left{
	padding-right:20px;
	border-right: 2px dashed #BED8FF;
}

.flake2{
  position:absolute;
  font-size:250px;
  color: rgba(115, 140, 178, .20);
  bottom:0;
  right:20px;
  z-index: 1;
}

h1{
	margin:0;
}

h2{
  color:#738CB2;
  font-family: 'Merienda', cursive;
}

p{
  font-family: 'ABeeZee', sans-serif;
}

span{
	color:#DC143C;
	font-weight: bold;
}

img{
  border:3px solid #738CB2;
  width: 250px;
  border-radius:15px;
  box-shadow:3px 3px 5px #BED8FF;
  margin: 15px 30px;
  }


a.intext:link, a.intext:visited{
	text-decoration: none;
	color:#738CB2;
}

a.intext:focus{
 border:2px dashed #BED8FF;
}

a.intext:hover{
   color: #BED8FF;
}

a.intext:active{
	color:#FFE9BE;
	background: #738CB2;
}

a.additional:link, a.additional:visited{
 	display: block;
 	margin: 5px;
 	padding:5px;
 	color:#FFE9BE;
 	background: #738CB2;
 	border-radius: 5px;
 	text-decoration: none;
 	text-align: center;
 	width: 200px;
 	font-family: 'Merienda', cursive;
 	position: relative;
 	z-index: 2;
 }

a.additional:focus{
 border:2px dashed #BED8FF;
}

 a.additional:hover, a.additional:active{
 	background:  rgba(190, 216, 255, .5);
 	color: #738CB2;
 }
